[Unit]
Description=CRIMP - Climbing Routine Interactive Motor Platform
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/treadwall
ExecStart=/usr/local/bin/bundle exec ruby crimp_app.rb
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
